@model MasterlistOfBusiness.Models.Transakcja

@{
    ViewData["Title"] = "Create";
}



<h1>Create</h1>

<h4>Transakcja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <label>Select products</label>
        <select name="selectedProdukty" class="form-control" multiple="multiple">
            @foreach (var produkt in (ViewBag.Produkty as List<MasterlistOfBusiness.Models.Produkt> ?? new List<MasterlistOfBusiness.Models.Produkt>()))
            {
            <option >@produkt.nazwa</option>
            }
        </select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
