@model IEnumerable<MasterlistOfBusiness.Models.Transakcja>

@{
    ViewData["Title"] = "Index";
    var profit = ViewBag.profit;
}

<h1>Total profit</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Konto 
            </th>
            <th>
                Zarobki
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in profit)
                {
                    <tr>
                        <td>@item.KontoNazwa</td>
                        <td>@String.Format("{0:C}", item.TotalProfit)</td>
                    </tr>
                }
    </tbody>
</table>
