@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form asp-action="Login" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="login">Login</label>
        <input name="login" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="haslo">Hasło</label>
        <input name="haslo" type="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Zaloguj</button>
</form>