@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" background-image="https://media.istockphoto.com/id/1300171618/photo/set-of-flying-one-hundred-dollars-bills-isolated-on-white.jpg?s=612x612&w=0&k=20&c=7SfEY1krHXcuaWk4EpI9t_TxqcLigo2kLpPK-bM3lGg=">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
